<div class="row g-3 mb-4">

    <!--Total Income Card-->
    <div class="col-md-4">
        <div class="card border-success shadow-sm h-100">
            <div class="card-body">
                <h6 class="text-muted">Total Income</h6>
                <h6 class="text-success mb-0">
                    {{ expenseService.totalIncome() | currency: 'INR' }}
                </h6>
            </div>
        </div>
    </div>

    <!--Total Expense Card-->
    <div class="col-md-4">
        <div class="card border-danger shadow-sm h-100">
            <div class="card-body">
                <h6 class="text-muted">Total Expense</h6>
                <h6 class="text-danger mb-0">
                    {{ expenseService.totalExpense() | currency: 'INR' }}
                </h6>
            </div>
        </div>
    </div>

    <!--Balance Card-->
    <div class="col-md-4">
        <div class="card border-primary shadow-sm h-100">
            <div class="card-body">
                <h6 class="text-muted">Balance</h6>
                <h6 class="mb-0"
                [class.text-primary]="expenseService.balance() >= 0"
                [class.text-danger]="expenseService.balance() < 0">
                    {{ expenseService.balance() | currency: 'INR' }}
                </h6>
            </div>
        </div>
    </div>
</div>
